.confirm-age {
    display: flex;
    padding: 12px 0;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.confirm-age .label-text {
    color: #8B8B8B;
    font-family: var(--font-font-sans, "IBM Plex Sans");
    font-size: var(--text-xs-font-size, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
}