body {
  background-image: url("./backimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 400px; */
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 844px;
  padding: 64px 20px 32px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px 32px 0 0;
}
