body {
  
}

.wrapper {
  background-image: url("./backimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  position: relative;
  backdrop-filter: blur(10px);
  width: 390px;
  padding: 64px 20px 32px 20px;
  border-radius: 32px 32px 32px 32px;
  z-index: 1;
}
