.head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 12px; */
  align-self: stretch;
  padding-bottom: 20px;
}

.head > h2 {
  color: var(--base-foreground, #fff);
  font-family: "Akira Expanded", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: var(--font-weight-semibold, 800);
  line-height: 100%;
  letter-spacing: -0.2px;
}

.head > p {
  color: var(--base-muted-foreground, #a9aaa9);
  font-family: var(--font-font-sans, "IBM Plex Sans");
  font-size: var(--text-sm-font-size, 14px);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--text-sm-line-height, 20px);
}

.head .main-text {
  width: 350px;
  /* display: flex; */
  padding: 8px 8px 0 0;
  /* align-items: flex-start; */
  /* gap: 4px; */
  align-self: flex-start;
  border-radius: 20px;
  border: 1px solid #adcc69;
  background: #d8ff83;
  align-items: center;
  justify-content: center;
}

.head .main-text > p {
  align-self: stretch;
  color: #1a1a1a;
  font-family: var(--font-font-sans, "IBM Plex Sans");
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  padding-left: 30px;
  /* padding-top: 1px; */
}

.head .button-color {
  color: var(--base-secondary, #d8ff83);
  font-family: var(--font-font-sans, "IBM Plex Sans");
  font-size: var(--text-sm-font-size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--text-sm-line-height, 20px);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.head .closeBtn {
  padding-bottom: 10px;
}
